<div class="row">
  <div class="col-md-12">
    <div class="header">
      <h1>Calculate the toll cost of Your Trip!</h1>
    </div>
  </div>
</div>


<div class="row" ng-controller="mainController">
  <div class="col-md-12">
    <div class="row">
      <form>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <input type="text" ng-model="origin" class="form-control" placeholder="Enter Starting Point Address">
          </div>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <div class="form-group">
            <input type="text" ng-model="destination" class="form-control" placeholder="Enter Your Destination Address">
          </div>
        </div>
        <button type="submit" ng-click="getTollCost()" class="btn btn-primary">Submit</button>
      </form>
    </div><!-- End Row -->
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="result">
          <h3 align="center">${{tollCost}}</h3>
        </div>
      </div>
    </div><!-- End Row -->
  </div><!-- End Col-Md-12 -->
</div><!-- End Row -->


